# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.venv
env/
venv/

# Data
data/raw/
*.csv
*.pcap
*.parquet
!data/processed/*.parquet

# Node / Frontend
node_modules/
dist/
dist-ssr/
.vite/
*.local

